* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --roboto: 'Roboto Condensed', sans-serif;
    --bebas: 'Bebas Neue', sans-serif;
    --popin: 'Poppins', sans-serif;
/*     --golden: #A49389; */
	--golden: #fff;
}

body {
    font-family: var(--popin);
}

.container {
    max-width: 1800px;
    width: 90%;
}

section {
    margin-bottom: 5rem;
}

.no_bottom_margin {
    margin-bottom: 0px;
}

div#loom-companion-mv3 {
    display: none;
}

h1,
.banner-heading {
    font-size: 72px;
/*     background: linear-gradient(133deg, rgb(223 198 179 / 93%), rgb(97 93 93 / 47%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
	color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--bebas);
}


.banner-heading {
    font-size: 63px;
/*     background: linear-gradient(-32deg, rgb(223 198 179 / 93%), rgb(97 93 93 / 47%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
	color: var(--golden);
}

p {
    font-size: 14px;
    margin: 0;
    color: #514949;
    font-family: var(--popin);
    font-weight: 300;
}

/* nav css start */
header#masthead {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    padding: 35px 0px;
    border-bottom: 1px solid rgb(164 147 137 / 37%);
    padding-bottom: 0px;
}
header#masthead .container{
	display: flex;
	flex-flow: row wrap;
}

header#masthead a.custom-logo-link {
    display: inline-block;
    width: 90px;
}

header#masthead .site-branding {
    width: 200px;
}

header#masthead nav#site-navigation {
    width: calc(100% - 200px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

header#masthead nav#site-navigation ul#primary-menu li {
    display: inline-block;
    margin-right: 20px;
}

header#masthead nav#site-navigation ul#primary-menu li a {
    color: #fff;
    text-decoration: none;
    font-family: var(--popin);
    font-weight: 300;
}

/* nav css end  */
/* popular destination css starts */

.main-pop-dest .pop-dest-box {
    position: relative;
}

.main-pop-dest .just_link {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.web-h {
    color: #967E76;
    text-align: center;
    font-family: var(--popin);
    font-size: 53.53px;
    font-weight: 300;
    display: block;
    margin-bottom: 18px;
    letter-spacing: -1px;
}

.banner_content_wrap {
    max-width: 620px;
    width: 100%;
}

.banner_content_wrap p {
    color: #fff;
    font-weight: normal;
    display: block;
    margin-bottom: 14px;
}

.banner_content_wrap span {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--bebas);
    letter-spacing: 0.2px;
}

.pop-dest-img img {
    width: 100%;
    height: 470px;
    object-fit: cover;
    border-radius: 20px;
}

.dest-info {
    padding: 16px 22px;
    margin: 0 30px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 3.112px 23.337px 4.667px rgba(0, 0, 0, 0.13);
    position: absolute;
    bottom: -80px;
}

.pop-dest-box {
    position: relative;
    margin-bottom: 80px;
}

.dest-info strong {
    color: #967E76;
    /* font-family: Poppins; */
    font-size: 17.215px;
    /* font-style: normal; */
    /* font-weight: 500; */
    line-height: normal;
    letter-spacing: 1px;
}

.dest-info p {
    margin: 10px 0;
    margin-top: 3px;
}

.destination-rating i {
    color: #FCC000;
}

.destination-rating span {
    font-weight: 500;
}

/* ==============banner highlight=========== */
section.main-flex-banner {
    background-image: url(../assets/img/banner-hlght.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* height: 400px; */
    /* padding: 2rem 0; */
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 450px;
}

.ful_width_banner p {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    color: var(--golden);
}

section.main-flex-banner p {
    font-size: 18px;
}

/* ===============discover css========== */
.discover-exp-img img {
    width: 100%;
    height: 100%;
}

.discover-exp-content {
    padding: 3rem 0;
    width: 100%;
}


.small-h {
    color: #514949;
    font-family: Poppins;
    font-size: 12.748px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.637px;
    text-transform: uppercase;
}

.discover-exp-content .big-heading {
    color: #726765;
    font-size: 60px;
    -webkit-text-stroke-color: rgba(11, 23, 37, 0.16);
    font-family: "Bebas Neue";
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3.551px;
    text-transform: uppercase;
}

.discover-exp-content p {
    padding: 1rem 0;
    color: #514949;
    line-height: 22px;
}

.counter-box span {
    display: block;
    color: #967E76;
    font-family: Poppins;
    font-size: 45.844px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.292px;
}

.counter-box {
    margin-left: 15px;
}

.counter-box strong {
    color: #514949;
    font-family: var(--popin);
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.732px;
    text-align: left;
    font-weight: 400;
}

.web-counter {
    display: inline-flex;
    width: 80%;
    max-width: 482px;
    padding: 1rem 0;
}

.btn_ {
    border: none;
    padding: 12px 50px;
    border-radius: 3.31px;
    background: #726765;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border: 1px solid #726765;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn_.btn_transparent {
    background: transparent;
    color: var(--golden);
    border: 1px solid var(--golden);
    border-radius: 0px;
    text-transform: uppercase;
}

.btn_.btn_wh {
    border: 2px solid #fff;
    background: #fff;
    color: var(--golden);
}

.btn_:hover {
    text-decoration: none;
    background: transparent;
    color: #726765;
}

.btn_.btn_transparent:hover {
    background: var(--golden);
    color: #342323;
}

.btn_.btn_wh:hover {
    background: transparent;
    color: #fff;
}

.web-btn {
    margin-top: 2rem;
}

.discover-exp-img {
    width: 100%;
    height: 100%;
}

/* ==============special packages css=========== */
.spc-packages-heading .web-h {
    padding-bottom: 1rem;
}

.spc-packages-heading p {
    margin: 0 6rem;
    line-height: 22px;
}

.packages-box-wrap img {
    /* padding: 10px; */
    border-radius: 20px;
    width: 100%;
}

.packages-box-wrap {
    padding: 14px;
    border-radius: 10.654px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 36.582px 6.843px rgba(0, 0, 0, 0.07);
}

.package-icon {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.pck-icon-box i {
    color: #967E76;
    font-size: 18px;
    margin-right: 6px;
}

.pck-icon-box {}

.location-pck i {
    color: #967e76;
    font-size: 18px;
    margin-right: 6px;
}

.location-pck {
    padding: 10px 0;
}

.packages-rating {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.main-packages-box {
    padding: 3.5rem 0;
}

.packages-rating span {
    border-radius: 4.186px;
    background: #F6F2CE;
    padding: 2px 8px;
}

.packages-rating span i {
    color: #FCC000;
    font-size: 14px;
    margin-right: 4px;
}

.packages-box-wrap .web-btn {
    justify-content: start;
    margin: 10px 0;
}

/* ====banner member css */
.banner-two-box {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.btn_.btn_black {
    background: #041828;
    border: 1px solid #041828;
    border-radius: 4px;
    color: #fff;
    position: relative;
}

.btn_.btn_black.btn_arrow::after {
    content: '';
    position: absolute;
    background: url(../assets/img/wh-arrow.png) no-repeat;
    background-size: cover;
    width: 25px;
    height: 8px;
    z-index: 1;
    right: 36px;
    top: 50%;
    transform: translate(0, -50%);
}

.btn_.btn_black.btn_.btn_transparent {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

section.main-flex-banner .btn_.btn_arrow {
    margin-right: 10px;
    padding-right: 70px;
}

.btn_.btn_black:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.btn_.btn_black.btn_.btn_transparent:hover {
    background: #041828;
    border-color: #041828;
}

/* =======footer css ============= */
footer.main-footer {
    background: #183449;
    padding-top: 3rem;
}

.footer-up {
    padding: 3.5rem 0;
    background: #183449;
}

.footer-logo img {
    width: 200px;
}

.footer-box p {
    color: #DFC6B3;
    padding: 12px 0;
}

ul.imp-link li a,
ul.footer-contact li a {
    color: #DFC6B3;
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 14px;
    transition: 0.2s all ease;
}

ul.imp-link li,
ul.footer-contact li {
    list-style: none;
    padding: 6px 0;
}

ul.footer-contact li i {
    color: #fff;
}

ul.footer-contact li {
    display: flex;
    padding: 6px 0;
}

.footer-h {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: var(--popin);
    font-weight: 600;
    color: var(--golden);
}

ul.imp-link,
ul.footer-contact,
ul.footer-social-links {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

ul.footer-social-links li i {
    color: #DFC6B3;
    font-size: 25px;
    margin: 6px;
    transition: 0.2s all ease;
}

ul.footer-social-links {
    display: flex;
    padding-bottom: 12px;
    height: 65px;
}

ul.footer-social-links li {
    list-style: none;
    margin-right: 6px;
}

ul.footer-contact li i {
    font-size: 16px;
    margin-right: 10px;
    padding-top: 5px;
}

ul.footer-contact li p a {
    display: block;
}

ul.footer-contact li strong {
    font-size: 16px;
    letter-spacing: 1px;
}

.footer-newletter input[type="text"] {
    padding: 6px;
    border: none;
    margin-right: 10px;
    color: #DFC6B3;
    background: transparent;
    border: 1px solid;
}

.footer-newletter {
    margin-top: 10px;
    display: flex;
}

.news-btn input {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.2s all ease;
    color: #183449;
    background: #fff;
    border: 1px solid #ffffff;
}

.news-btn input:hover {
    background: transparent;
    color: #fff;
}

ul.imp-link li a:hover,
ul.footer-contact li a:hover {
    color: #d9c9c9;
}

ul.footer-social-links li i:hover {
    background: #4d9784;
    border-radius: 50%;
    padding: 6px;
}

.ban-two-btn a i {
    margin-left: 6px;
}

/* =========footer part css starts====== */
.footer-down {
    padding: 1rem 0;
    background: #112A3D;
}

.footer-down p {
    color: #7E7E7E;
}

.footer-down-policy {
    padding: 12px 0;
}

.footer-down-copyr span {
    color: #4d9784;
    font-weight: 700;
}

.footer-down p {
    font-size: 14px;
}




/* ============== */

.card_slider {
    padding-right: 10px !important;
}

.banner-slider {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-bottom: 5rem;
}

.banner-slider .container {
    position: relative;
    z-index: 1;
}

.banner-slider::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(310deg, rgb(0 0 0 / 80%), transparent);
}

.btn_play {
    position: relative;
    display: inline-block;
}

.btn_play::after {
    content: '';
    position: absolute;
    right: -27px;
    top: 50%;
    background: url(../assets/img/arrow_golden.svg) no-repeat;
    background-size: cover;
    width: 23px;
    height: 11px;
    transform: translate(0, -50%);
}

.btn_play span {
    width: 70px;
    height: 70px;
    display: inline-block;
    position: relative;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.btn_play span::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    background: url(../assets/img/circular_text.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
}

.btn_play span::after {
    content: '';
    position: absolute;
    left: 53%;
    top: 50%;
    background: url(../assets/img/icon_play.svg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 24px;
    transform: translate(-50%, -50%);
}

.banner-slider .card_ {
    border: 1px solid var(--golden);
    padding: 20px;
    border-radius: 15px;
}

.banner-slider .card_ strong {
    color: var(--golden);
    font-size: 20px;
    text-transform: uppercase;
}

.banner-slider .card_ p {
    font-size: 14px;
    color: var(--golden);
    line-height: normal;
    font-weight: normal;
    display: block;
    margin: 10px 0px;
    margin-bottom: 20px;
    min-height: 203px;
    height: auto;
}

.btn_read_more {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: var(--golden);
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--bebas);
    font-size: 22px;
}

.btn_read_more:hover {
    color: var(--golden);
    text-decoration: none;
}

.btn_read_more .icon_plus {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid var(--golden);
    position: relative;
    margin-right: 14px;
    transition: all 0.3s ease-in-out;
}

.btn_read_more:hover .icon_plus {
    transform: rotate(90deg);
}

.btn_read_more .icon_plus::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../assets/img/plus_icon.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.card_ .item_btn {
    min-height: 76px;
    height: auto;
}

.owl-dots button {
    width: 12px;
    height: 12px;
    background: var(--golden) !important;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.card_slider .owl-dots button {
    background: var(--golden) !important;
    width: 20px;
    height: 5px;
    margin-right: 10px;
    opacity: 0.8;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card_slider .owl-dots button.active {
    opacity: 1;
    background: #DFC6B3 !important;
    width: 38px;
}

.owl-dots button:focus {
    outline: none;
    border: none;
}

.owl-dots {
    text-align: center;
}

.banner-slider img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

section.main-flex-banner-2 {
    background-image: url(../assets/img/banner-hlght-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 450px;
}

/* ======tour css====== */
.pop-tour-box {
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.06);
}

.pop-tour-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop-tr-content {
    padding: 15px;
}

.tour_slider .owl-nav {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.tour_slider .owl-nav .owl-next {
    float: right;
}

.tour_slider .owl-nav button::after {
    content: '\f054';
    position: absolute;
    right: -40px;
    top: 0;
    font-family: 'FontAwesome';
    font-size: 31px;
    margin-right: 10px;
    -webkit-text-stroke: 1.5px #fff;
}

.tour_slider .owl-nav button.owl-prev::after {
    transform: scaleX(-1);
    right: initial;
    left: -35px;
}

.tour_slider .owl-nav button span {
    display: none;
}

section.pop-tour .owl-dots button {
    border-radius: 100%;
}


.owl-dots button.active {
    transform: scale(1.2);
    background: #564d48 !important;
}

.tour_slider .owl-stage-outer {
    padding: 30px 0;
}

/* ==========update and post css============== */
.travel-update-title .web-h {
    text-align: left;
}

.update-img {
    height: 100%;
    width: 100%;
}

.update-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.web-btn.btn-wht {
    justify-content: flex-start;
    padding-bottom: 10px;
}

.web-btn.btn-wht a {
    background: transparent;
    color: #967e76;
    font-weight: 500;
}

.update-context {
    padding-left: 10px;
}

.update-post-content {
    padding: 15px 0;
}

.update-post-content strong {
    color: #514949;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    padding: 10px 0;
    display: block;
}

.updt-date-cmt {
    padding: 6px 0;
}

.updt-date-cmt span {
    margin-right: 60px;
    color: #514949;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
}

.updt-date-cmt span i {
    margin-right: 6px;
}

.update-img>.row>div {
    margin-bottom: 30px;
}

.update-img>.row>div:nth-child {
    margin-bottom: 0px;
}

.banner-heading.hd-wht,
section.main-flex-banner-2 p {
    color: #fff;
    background: linear-gradient(269deg, #ffffff 24.7%, rgb(255 255 255) 131.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ============why choose us and contact form============ */
label {
    display: block;
    margin-bottom: 8px;
}

.why-choose-form input,
textarea {
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: none;
    font-size: 15px;
    background: rgb(255 255 255 / 80%);
}

.why-choose-form input:focus,
textarea:focus {
    outline: none;
}

.form-btn {
    text-align: left;
}

section.why-choose {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
}

.why-choose-context {
    text-align: left;
}

.why-choose-context .web-h {
    text-align: left;
}

.why-contact-list {
    padding: 1rem 0;
    padding-left: 1rem;
}

.why-contact-list ul li {
    color: #807B7B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    margin: 8px 0;
}

.why-choose-form {
    padding-top: 2rem;
}

ul.ul-post {
    padding: 0;
}

ul.ul-post li {
    list-style: none;
    /* margin: 10px; */
    padding: 10px 0;
}

ul.ul-post li strong {
    color: #DFC6B3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.741px;
    display: block;
    /* margin: 6px 0; */
}

ul.ul-post li span {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.895px;
}



/* destination page css */
section.full_width_banner {
    height: calc(100vh - 125px);
    background-size: cover !important;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

section.full_width_banner .content_wrap {
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

section.full_width_banner .content_wrap h3 {
    font-family: var(--popin);
    color: #fff;
    font-size: 45px;
}

section.full_width_banner .content_wrap p {
    color: #fff;
    font-size: 15px;
}

section.full_width_banner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 31%);
}

section.full_width_banner .container {
    position: relative;
    z-index: 1;
}

section.list_destination .desti_card {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 18px;
}

section.list_destination .desti_card img {
    width: 100%;
    min-height: 280px;
    height: auto;
    object-fit: cover;
}

section.list_destination .desti_card .floating_content {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 35px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

section.list_destination .desti_card strong {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

section.list_destination .desti_card p {
    color: #fff;
}

section.list_destination .desti_card>strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}

section.list_destination .desti_card:hover .floating_content {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

section.list_destination .desti_card:hover>strong {
    opacity: 0;
    visibility: hidden;
}

.btn_.btn_black.btn_solid {
    background: var(--golden);
    display: inline-block;
    color: #fff;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 14px;
}

.btn_.btn_black.btn_solid:hover {
    background: transparent;
}

i.fa-solid.fa-shoe-prints {
    transform: rotate(-88deg);
}

section.iteneary_ h2 {
    font-family: var(--popin);
    font-weight: 700;
    color: #514949;
    font-size: 46px;
    display: block;
    margin: 15px 0px;
    line-height: normal;
}

section.iteneary_ .it_sub_title {
    font-size: 18px;
    color: #514949;
}

section.iteneary_ .rating_ {
    color: #514949;
    font-size: 18px;
    font-weight: 500;
}

section.iteneary_ .rating_ i {
    margin-right: 6px;
    color: #FCC000;
}

.iteneary_ .pck-icon-box {
    font-size: 18px;
}

section.iteneary_>.container>.row {
    margin-bottom: 30px;
}

.iteneary_details .desc_ {
    margin-bottom: 10px;
}

.iteneary_details .desc_ strong {
    display: block;
    font-size: 20px;
    margin-bottom: 6px;
    color: #514949;
}

.iteneary_details .table_wrapper table {
    width: 100%;
}

.iteneary_details .table_wrapper {
    margin-top: 25px;
}

.iteneary_details .table_wrapper table th,
.iteneary_details .table_wrapper td {
    border-bottom: 1px solid #d3cecc;
    padding: 18px 0px;
}

.iteneary_details .table_wrapper tr:last-child td,
.iteneary_details .table_wrapper tr:last-child th {
    border-bottom: none;
}

.iteneary_details .table_wrapper table th {
    padding-right: 45px;
}

div#accordion .card-header {
    background: #183449;
}

.iteneary_details .card-header .btn-link {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

.iteneary_details .table_wrapper table tr ul {
    padding: 10px 0px;
    margin-bottom: 0px;
}

.iteneary_details .table_wrapper table tr ul li {
    display: block;
    margin-bottom: 9px;
    position: relative;
}

.iteneary_details .table_wrapper table tr ul li:last-child {
    margin-bottom: 0px;
}

.iteneary_details .table_wrapper table tr ul li::after {
    content: '\f00d';
    position: absolute;
    left: -22px;
    top: -5px;
    width: 10px;
    height: 10px;
    font-family: 'fontAwesome';
    font-size: 23px;
    -webkit-text-stroke: 1.5px #fff;
}

.iteneary_details .table_wrapper table tr ul li.tick_::after {
    content: '\f00c';
    left: -25px;
    color: #090;
}

.row.iteneary_details .right_content .form_holder {
    background: #183449;
    padding: 15px 22px;
    margin-bottom: 30px;
}

.row.iteneary_details .right_content .form_holder h3 {
    color: #fff;
    display: block;
}

.row.iteneary_details .right_content .form_holder p {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.row.iteneary_details .right_content .form_holder ul li {
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.row.iteneary_details .right_content .form_holder ul li input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 0;
    background: rgb(53 101 150 / 66%);
    color: #fff;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding-left: 42px;
}

.row.iteneary_details .right_content .form_holder ul li input:focus,
.row.iteneary_details .right_content .form_holder ul li textarea:focus {
    outline: none;
}

.row.iteneary_details .right_content .form_holder ul li i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 22px;
}

.row.iteneary_details .right_content .form_holder ul li i.fa-message {
    top: 22px;
}

.row.iteneary_details .right_content .form_holder ul li textarea {
    height: 150px;
    resize: none;
    border-radius: 8px;
    background: rgb(53 101 150 / 66%);
    padding-left: 42px;
    position: relative;
    color: #fff;
}

.row.iteneary_details .right_content .form_holder ul li input::placeholder,
.row.iteneary_details .right_content .form_holder ul li textarea {
    color: #d9d9d9;
}

.row.iteneary_details .right_content .form_holder ul li input::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    display: block !important;
    opacity: 1;
    visibility: visible;
}

.row.iteneary_details .right_content .form_holder ul li input[type="submit"] {
    padding: 15px 10px;
}

.row.iteneary_details .right_content .form_holder ul li input[type="submit"]:hover {
    background: #627c94;
}

.row.iteneary_details .protrait_ img {
    width: 100%;
    object-fit: cover;
}


/* packages css */

section.subscribe-wrap {
    background: #112A3D;
    padding: 2rem 0;
}

.sub-h {
    color: #fff;
    padding-top: 2rem;
}

.gallery-wrap-content strong {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.sub-box .web-btn a {
    background: #fff;
    color: #726765;
    border: 1px solid;
}

.gallery-wrap img {
    width: 100%;
}


/* gallery css */
.small-header {
    color: #514949;
    font-size: 25px;
    padding: 10px 0;
    display: block;
}

.gallery-wrap-content p {
    font-size: 16px;
    width: 75%;
}

.glly-img-info p,
section.mpc-main p {
    padding: 10px 0;
    font-size: 16px;
}

.glly-two-img img {
    width: 100%;
    height: 245px;
    object-fit: cover;
}

.glly-img img {
    width: 100%;
    height: 760px;
    object-fit: cover;
}

.glly-img-info {
    padding-top: 4rem;
}

.glly-two-img {
    padding: 10px 0;
}

.glly-img-info .small-header {
    padding: 0;
}

section.mpc-main .small-header {
    padding: 0;
}

section.gllt-detail-wrap {
    margin-bottom: 4rem;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.grid-wrapper>.img-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 180px;
    grid-auto-flow: dense;
    padding-top: 15px;
}

.grid-wrapper .wide {
    grid-column: span 1;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

.owl-carousel {
    display: block !important;
}


.collapse_gallery_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.collapse_gallery_wrapper .gal img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.map_wrapper iframe {
    width: 100%;
}

.custom_masnory img {
    border-radius: 18px;
}

.custom_masnory .review-h {
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.custom_masnory .review-h li {
    display: block;
    margin-right: 31px;
}

.custom_masnory .item_6 {
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 20px;
    padding: 36px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.custom_masnory .item_6 h3 {
    font-size: 60px;
    font-family: "Great Vibes", cursive;
    font-weight: 700;
}

.custom_masnory .item_6 strong {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.custom_masnory .item_6 span {
    font-family: "Great Vibes", cursive;
    font-size: 6rem;
    font-weight: 700;
    position: absolute;
    right: -15px;
    top: -24px;
    line-height: 98px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #ccc;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 8px;
    background-color: #fff;
    transform: rotate(-3deg);
    letter-spacing: 3px;
}


/* blog details css */
/* ======blog page css starts============ */
.review-h {
    margin-right: 60px;
    color: #514949;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
    padding: 10px 0;
    display: block;
}

.blog-review-box {
    border: 1px solid #807B7B;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
}

.blog-review-box .row_comment {
    display: flex;
    flex-flow: row wrap;
}

.blog-review-box .row_comment .review-img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
}

.blog-review-box .row_comment .review-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-review-box .row_comment .review-details {
    width: calc(100% - 120px);
    padding-left: 30px;
}

.blog-review-box .row_comment .review-details span.small-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.blog-review-box .row_comment .review-details span.small-review {
    display: block;
    margin-bottom: 18px;
    color: #6c6c6c;
}

.blog-review-box .row_comment .review-details .suggestion_row span.small-review {
    margin-bottom: 2px;
}

.review-date-rating {
    display: flex;
    flex-flow: row;
}

.rvw-rating ul {
    display: flex;
    align-items: center;
    margin: 0;
}

.rvw-rating ul li {
    list-style: none;
    margin: 0 4px;
}


.rvw-rating {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.rvw-rating ul li i {
    color: #FCC000;
    font-size: 15px;
}

.rvw-text {
    padding-bottom: 10px;
}

ul.like-btn {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

ul.like-btn li {
    list-style: none;
    margin-right: 14px;
    font-size: 20px;
}

img.rvw-img-1 {
    object-fit: cover;
    height: 622px;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;
}

img.rvw-img-2 {
    width: 100%;
    height: 285px;
    object-fit: cover;
    border-radius: 20px;
}

.rvw-info {
    padding-top: 3.5rem;
}

section.pst-cmt {
    background: #112a3d;
    padding: 2rem;
}

section.pst-cmt .small-header {
    color: #fff;
}

.star-wrap.rvw-rating .small-review {
    color: #fff;
    display: block;
}

.row.review-star {
    max-width: 685px;
    width: 100%;
}

.review-star {
    padding-bottom: 15px;
}

.star-wrap .small-review {
    color: #fff;
    margin-left: 6px;
}

.star-wrap .rvw-rating {
    margin: 0;
}

.star-wrap {
    margin-right: 30px;
    padding: 10px 0;
}

.rvw-icon-box {
    position: relative;
}

.rvw-icon-box i {
    color: #495057;
    position: absolute;
    left: 25px;
    top: 10px;
    color: #fff;
}

.col-12.col-lg-6.rvw-icon-box i,
.col-lg-6.rvw-icon-box i {
    top: 18px;
}

label {
    color: #fff;
    padding: 1rem 0;
    margin: 0;
}

input[type="checkbox"] {
    margin-right: 10px;
}

section.pst-cmt .web-btn {
    text-align: center;
    justify-content: center;
}

.form-control {
    background: #274e71;
    border: 1px solid #274e71;
}

#commentForm textarea {
    margin: 0px;
}

#commentForm .rvw-icon-box {
    margin-bottom: 10px;
}

#commentForm textarea,
#commentForm input {
    padding-left: 34px;
    color: #fff;
}

#commentForm textarea:focus,
#commentForm input:focus {
    background: #274e71;
    outline: none;
    box-shadow: none;
    border-color: #274e71;
}

/* =========about us pAge css starts=============== */
section.full_width_banner.sm_banner {
    height: calc(100vh - 200px);
}

.abt-us-img img {
    width: 100%;
    object-fit: cover;
}

.abt-us-content.discover-exp-content {
    text-align: left;
}

.abt-us-content.discover-exp-content .big-heading {
    text-align: left;
    background: linear-gradient(133deg, rgb(114 103 101), rgb(114 103 101));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.abt-us-content.discover-exp-content .web-btn {
    text-align: left;
    justify-content: left;
}

.abt-us-content.discover-exp-content p {
    font-size: 16px;
}

section.abt-banner img {
    width: 100%;
}

section.why-choose.abt-why-choose.no_bottom_margin {
    background: #fff;
}

.why-choose-form.abt-why-form textarea#message,
.why-choose-form.abt-why-form input#name,
.why-choose-form.abt-why-form input#email,
.why-choose-form.abt-why-form input#address {
    background: #183449;
    color: #fff;
}

/* contact page css */
.row.get_in_touch {
    background: #fff;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: -17rem;
    position: relative;
    z-index: 1;
}

section.cnt-us-wrap input,
section.cnt-us-wrap textarea {
    border: 1px solid #000;
}

section.why-choose.no_bottom_margin {
    padding: 60px 0px;
}

/* responsive css */

@media(min-width: 991px) {
    .custom_masnory {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .item_1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .item_2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .item_3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .item_4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .item_5 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .item_6 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .item_7 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .item_8 {
        grid-area: 4 / 2 / 5 / 3;
    }

    form#commentForm .row>div:nth-child(1) {
        margin-right: 0px;
        padding-right: 5px;
    }

    form#commentForm .row>div:nth-child(2) {
        padding-left: 5px;
    }

    .discover-exp-content {
        text-align: right;
    }

    .discover-exp-content .big-heading {
        text-align: right;
    }

    .counter-box span {
        text-right: right;
    }

    .counter-box {
        text-align: end;
    }

    .web-btn {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 2rem;
    }

    .main-packages-box .row>div:nth-child(2) {
        transform: scale(1.1);
        padding: 0px 24px;
        padding-top: 6px;
    }
}
@media(min-width: 1280px) {
    .custom_masnory {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        background-color: #fff;
        padding: 50px;
        border-radius: 25px;
        margin-top: -228px;
        position: relative;
        z-index: 1;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }


    .item_1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .item_2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .item_3 {
        grid-area: 1 / 3 / 3 / 4;
    }

    .item_4 {
        grid-area: 2 / 1 / 3 / 3;
    }

    .item_5 {
        grid-area: 3 / 1 / 5 / 2;
    }

    .item_6 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .item_7 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .item_8 {
        grid-area: 4 / 2 / 5 / 4;
    }
}


@media(max-width: 1366px) {
    .small-header {
        font-size: 20px;
        line-height: normal;
    }

    .custom_masnory .review-h li {
        font-size: 13px;
    }

    .banner-slider .card_ strong {
        font-size: 17px;
    }

    .banner-slider .card_ p {
        font-size: 13px;
        line-height: normal;
    }

    .banner_content_wrap span {
        font-size: 16px;
    }

    h1,
    .banner-heading,
    .discover-exp-content .big-heading {
        font-size: 60px;
    }

    .banner_content_wrap p {
        font-size: 13px;
    }

    .btn_ {
        padding: 9px 35px;
        font-size: 14px;
    }

    .btn_read_more {
        font-size: 18px;
    }

}

@media(max-width: 1280px) {

    .custom_masnory img {
        height: 200px;
        object-fit: cover;
        width: 100%;
        object-position: center;
    }
    .collapse_gallery_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .iteneary_details .table_wrapper {
        margin: 0px;
    }

    section.iteneary_ h2 {
        font-size: 35px;
        line-height: normal;
        margin-bottom: 6px;
        margin-top: 0px;
    }

    section.full_width_banner .content_wrap h3 {
        font-size: 35px;
    }

    .web-h {
        font-size: 40px;
    }

    .pop-dest-img img {
        height: 300px;
    }

    .dest-info p {
        font-size: 13px;
        margin-top: 0px;
        padding-top: 4px;
    }

    .dest-info strong {
        font-size: 15px;
        margin-bottom: 0px;
    }

    section {
        margin-bottom: 3rem;
    }
}

@media(max-width: 991px) {
    .abt-us-content.discover-exp-content .big-heading {
        font-size: 32px;
    }
    
    .custom_masnory img {
        height: auto;
    }
    .custom_masnory>div {
        margin-bottom: 30px;
    }
    .iteneary_details .desc_ strong {
        font-size: 16px;
    }

    section.iteneary_ h2 {
        font-size: 30px;
    }

    .updt-date-cmt {
        display: flex;
        flex-flow: column;
    }

    .updt-date-cmt .cmt {
        margin-top: 10px;
    }

    .rvw-info {
        padding-top: 15px;
    }

    section.full_width_banner {
        height: 70vh;
    }

    section.pst-cmt .web-btn {
        text-align: left;
        margin-top: 8px;
    }

    .review-date-rating {
        flex-flow: column;
    }

    .rvw-rating {
        margin-left: 0px;
    }

    .banner_content_wrap {
        margin-bottom: 30px;
    }

    h1,
    .banner-heading,
    .discover-exp-content .big-heading {
        font-size: 42px;
    }

    .banner_content_wrap {
        padding-top: 60px;
    }

    .discover-exp-content .big-heading {
        letter-spacing: -1px;
    }

    h1>br,
    .banner-heading>br {
        display: none;
    }

    .counter-box {
        margin-left: 0px;
    }

    .btn_ {
        padding: 12px 30px;
        font-size: 14px;
    }

    .banner-slider .card_ p {
        min-height: auto;
        height: auto;
        margin-top: 5px;
    }

    .banner-slider .card_ strong {
        font-size: 16px;
    }

    .banner-slider .item {
        padding-right: 10px;
    }

    .main-packages-box .row>div {
        margin-bottom: 30px;
    }

    .pop-dest-img img {
        height: 300px;
    }

    .main-pop-dest .row>div {
        margin-bottom: 30px;
    }

    .main-pop-dest .row>div:last-child {
        margin-bottom: 0px;
    }

    .web-h {
        font-size: 30px;
    }

    .discover-exp-content p {
        padding: 0px;
    }

    .counter-box span {
        font-size: 34px;
    }

    .counter-box {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .discover-exp-content {
        padding: 0px;
        padding-top: 30px;
    }

    .spc-packages-heading .web-h {
        text-align: left;
        margin-bottom: 0px;
    }

    .spc-packages-heading p {
        text-align: left;
        margin-left: auto;
    }

    .main-packages-box {
        padding: 0px;
        padding-top: 30px;
    }


}

@media(max-width: 768px) {

    div#accordion {
        margin-bottom: 30px;
    }

    .collapse_gallery_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .custom_masnory .review-h{
        flex-flow: column;
    }
    .small-header{
        font-size: 18px;
    }
    .abt-us-content.discover-exp-content .big-heading {
        font-size: 26px;
    }
}

@media(max-width: 580px) {

    .collapse_gallery_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    section.iteneary_ h2 {
        font-size: 22px;
    }

    section.full_width_banner .content_wrap h3 {
        font-size: 22px;
    }

    section.full_width_banner {
        height: 50vh;
    }

    .blog-review-box .row_comment {
        flex-flow: column;
    }

    .blog-review-box .row_comment .review-details {
        padding-left: 0px;
        width: 100%;
    }

    .tour_slider .owl-nav button::after {
        right: -20px;
    }

    .tour_slider .owl-nav button.owl-prev::after {
        left: -10px;
    }

    .footer-newletter {
        flex-flow: column;
    }

    .footer-newletter .news-btn {
        margin-top: 10px;
    }

    .package-icon {
        flex-flow: column;
    }

    .package-icon>.pck-icon-box {
        margin-bottom: 15px;
    }

    .packages-rating {
        flex-flow: column-reverse;
    }

    .packages-rating>span {
        width: 70px;
        margin-top: 7px;
        margin-bottom: 10px;
    }

    .banner-two-box {
        flex-flow: column;
    }

    .banner-two-box a {
        display: inline-block;
    }

    .banner-two-box a.btn_ {
        max-width: 200px;
        width: 100%;
        margin-bottom: 10px;
    }

}